:root {
    --dark100: #060714;
    --dark90: #262840;
    --dark80: #7780A1;
    --purpleDark: #2A27C9;
    --purpleDark10: rgba(42, 39, 201, 0.1);
    --sora: 'Sora', sans-serif;
    --inter: 'Inter', sans-serif;
}

body {
    font-family: var(--inter);
    box-sizing: border-box;
}

/* Config */

.btn {
    background: unset;
    border: unset;
    padding: 16px 24px;
    border-radius: 12px;
    font-family: var(--sora);
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    cursor: pointer;
    box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.1), inset 4px 4px 4px rgba(255, 255, 255, 0.1);
}

.primary-btn {
    background: linear-gradient(104.42deg, #4745D0 0%, #2A27C9 60.23%);
    color: #fff;
}

.secondary-btn {
    border: 2px solid var(--dark80);
    color: var(--dark80);
}

.small-text {
    font-size: 15px;
}

.medium-text {
    font-size: 24px;
}

/* Config */

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
    color: var(--dark100);
    letter-spacing: 0.2px;
    font-weight: 600;
}

h1 {
    font-size: 64px;
    font-weight: 600;
    font-size: 120px;
    margin: 35px 0;
}

h2 {
    font-size: 48px;
    line-height: 115%;
}

h3 {
    font-size: 40px;
    line-height: 125%;
}

h4 {
    font-size: 36px;
    line-height: 45px;
}

h5 {
    font-size: 32px;
    line-height: 40px;
}

h6 {
    font-size: 20px;
    line-height: 25px;
}

/* Typography */

.hero__wrap {
    overflow: hidden;
    height: 100vh;
    /* background: #8c63fd; */
    position: relative;
}

/* Header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 117px;
}

.logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    max-width: 213px;
}

.logo span {
    font-family: var(--sora);
    font-weight: 700;
    font-size: 27px;
    letter-spacing: 0.2px;
    color: var(--dark100);
    margin-left: 18px;
    white-space: nowrap;
}

.header__nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.header__nav li:not(:first-child) {
    margin-left: 64px;
}

.header__nav a {
    font-family: var(--sora);
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: var(--dark80);
    text-decoration: none;
}

.header__btns .btn:last-child {
    margin-left: 16px;
}

/* Header */

/* Hero */

.hero__container {
    height: calc(100vh - 117px);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.subtitle {
    font-family: var(--inter);
    font-weight: 400;
    color: var(--dark80);
    text-align: center;
    margin: 0;
}

.subtitle.small-text {
    text-transform: uppercase;
}

.hero h1 {}

.hero h1 span {
    display: block;
    text-align: right;
}

.hero__info {
    width: 100%;
    max-width: 835px;
    margin: auto;
}

.filter {
    background: #FFFFFF;
    box-shadow: 0px 25px 75px rgba(6, 7, 20, 0.1);
    border-radius: 16px;
    max-width: 581px;
    height: 84px;
    margin: auto;
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
}

.filter input,
.filter select {
    border: 0;
}

.filter input {
    width: 100%;
    margin-right: 10px;
}

.filter input::placeholder,
.filter select {
    font-size: 16px;
    letter-spacing: 0.2px;
    color: var(--dark80);
    opacity: 0.5;
}

.filter select {
    margin-left: 16px;
    padding-right: 75px;
    margin-right: 50px;
}

.filter__right {
    display: flex;
    align-items: center;
}

.filter__right {
    display: flex;
    align-items: center;
    position: relative;
}

.filter__right:before {
    content: '';
    display: block;
    position: absolute;
    background: var(--dark80);
    width: 1px;
    height: 100%;
    left: 0;
    opacity: 0.5;
}

.search_btn {
    cursor: pointer;
}

.search_btn:hover svg * {
    transition: .3s ease;
}

.search_btn:hover svg * {
    stroke: black;
}

.hero__partners {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    max-width: 670px;
    width: 100%;
}

/* Hero */

/* Circles animation */

.circle {
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 63%;
    transform: translate(-50%, -50%);
    /* transition: .15s ease; */
}

.circle_shadow {
    -webkit-box-shadow: 0px 0px 30px -20px #000;
    box-shadow: 0px 0px 30px -20px #000;
}

.start_circle {
    background: transparent;
}

.header,
.hero,
.hero__partners {
    z-index: 9999;
    position: relative;
}

/* Circles animation */

/* Hero NFT */

.hero__nft-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 99;
    position: absolute;
    top: 150%;
    transition: .3s ease-in;
}

.hero__nft-item span {
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--dark80);
    margin-top: 8px;

}

.hero__nft-item:first-child {
    left: 10%;
}

.hero__nft-item:nth-child(2) {
    left: 20%;
}

.hero__nft-item:nth-child(3) {
    left: 10%;
}

.hero__nft-item:nth-child(4) {
    right: 20%;
}

.hero__nft-item:nth-child(5) {
    right: 10%;
}

.hero__nft-item:nth-child(6) {
    right: 15%;
}


.floating__nfts .hero__nft-item:first-child {
    top: 80%;
}

.floating__nfts .hero__nft-item:nth-child(2) {
    top: 50%;
}

.floating__nfts .hero__nft-item:nth-child(3) {
    top: 20%;
}

.floating__nfts .hero__nft-item:nth-child(4) {
    top: 18%;
}

.floating__nfts .hero__nft-item:nth-child(5) {
    top: 45%;
}

.floating__nfts .hero__nft-item:nth-child(6) {
    top: 80%;
}

/* Hero NFT */

.placeholder {
    height: 100vh;
}

/* Latest */

.swiper-latest {
    width: 100%;
    height: 750px;
}

.latest-slide>img {
    border-radius: 24px;
    width: 100%;
}

.latest__head {
    display: flex;
    align-items: center;
    margin: 24px 0;
}

.latest__head * {
    margin: 0;
}

.latest__price {
    color: var(--purpleDark);
    background: var(--purpleDark10);
    border-radius: 4px;
    padding: 8px 14px;
    margin-left: 25px;
    white-space: nowrap;
}

.latest__time {
    font-size: 14px;
    letter-spacing: 0.2px;
    color: var(--dark100);
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 30px;
}

.latest__time svg {
    margin-right: 8px;
}

.latest__biding {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #E2E2ED;
    padding-top: 20px;
}

.latest__biding-num {
    letter-spacing: 0.2px;
    font-size: 14px;
    color: var(--dark80);
}

.latest__fav {
    display: flex;
    align-items: center;
}

.latest__fav svg {
    margin-right: 8px;
}

.latest__avas img {
    border: 5px solid #fff;
    border-radius: 50%;
}

.latest__avas img:not(:first-child) {
    margin-left: -20px;
}

/* Latest */